<div id="bitacora-container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Servicio consultado</th>
                <th>Status de la respuesta</th>
                <th>Hora de consulta</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bitacora of ltsBitacora">
                <td>{{ bitacora.id }}</td>
                <td>{{ bitacora.path }}</td>
                <td>{{ bitacora.statusCode }}</td>
                <td>{{ bitacora.horaConsulta }}</td>
            </tr>
        </tbody>
    </table>
</div>